<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            table, tr, td {
                border: none;
            }
        </style>
    </head>
    <body>
        <p>
{{ _('Hello') }} {{ new_user }},
        </p>
<p>
{{ _('A new employee account has been created for you!') }}
</p>
{{ _('Username') }}: <b>{{ username }}</b><br>
{{ _('Wi-Fi Network') }}: <b>{{ employee_wifi }}</b>
<p>
{{ _('Please follow the link below to set your new password:') }}<br>
{{ link }}
</p>
{{ _('Your Alcatel-Lucent Enterprise team!') }}
    <table>
        <tr>
            <td><a href="https://www.al-enterprise.com/"><img src="cid:image1" style="max-height: 60px;"></a></td>
            <td><a href="https://www.al-enterprise.com/"><img src="cid:image2" style="max-height: 75px;"></a></td>
        </tr>
    </table>
    </body>
</html>
